
.cabecalho {

    background-color: aqua;
    padding: 5%;
}


div{
    padding:2% 4%;
    margin: 2% auto;
    background-color: yellow;
    width: 400px;
    height: 200px;
    border: solid 15px rgb(138, 39, 55);
    overflow: auto;
    
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

p{
    font-size: 0.5em;
}

#segunda {

    box-sizing: border-box;
    border-radius: 10px;
}