
* {

    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-color: rgb(24, 121, 96);
}

.cabecalho {

    background-color: black;
    padding: 5%;

}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 3px 2px red;
}

h2 {

    text-align: center;
}

#fiap {
    text-decoration: none;
}
#primeiro {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    /* text-align: justify;*/
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    text-decoration:underline dashed;
    text-indent: 30px;
}

.exemplo {

    font-weight: bold;
    color: blueviolet;
    
}
#segundo {

    font-size: 1.5em;
    font-style: italic;
    /*text-transform: uppercase;*/
    text-transform: capitalize;
    

}

#terceiro {

    font-size: 6em;
    line-height:400px;
    letter-spacing: 15px;
    word-spacing:  30px;
    font-style: oblique;
    font-variant: small-caps;
}